langchain==0.1.16
python-dotenv
ipykernel
langchain_community
pypdf
bs4
arxiv
pymupdf
frontend
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_groq
uvicorn
fastapi
langserve